<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Contact App</title>
</head>
<h1>Add Contact</h1>

<body>

<form action = "" method = "post">
    {% csrf_token %}
    <table>
        {{form.as_table }}
    </table>

    <br/>
    <input type="submit" value="Add Contact">
</form>
    <br/>
    {% if messages %}
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    {% endif %}


<br/>

<a href="http://localhost:8000/search/">Search</a>


</body>
</html>


